*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{

    --cor-primaria: #E5E5E5;
    --cor-secundaria: #0A3871;
    --cor-tercearia: #ffffff;
    --font-principal: "Inter", sans-serif;
}

body, input, button, textarea{
    font-family: var(--font-principal);
    font-weight: 400;
    font-style: normal;
}

body{
    background-color: var(--cor-primaria);
    padding: 2.5rem;
    display: flex;
    justify-content: space-between;
}

main{
    padding: 2.5rem 12.5rem;
    display: flex;
    flex-direction: column;
}

.div-input textarea{
    font-family: var(--font-principal);
    width: 42.5rem;
    height: 42.5rem;
    border: none;
    border-radius: 0.5rem;
    background-color: var(--cor-primaria);
    font-size: 2rem;
    color: var(--cor-secundaria);
    resize: none;
}

.div-input textarea:focus{
    outline: none;
    border: 2px solid var(--cor-secundaria);
}

.div-container-botoes{
    display: flex;
    flex-direction: column;
}

.div-container-botoes-alerta{
    padding-bottom: 1rem;
    display: flex;
    align-items: center;
    text-align: center;
}

.div-botoes{
    display: flex;
    gap: 1.5rem;
}

.btn{
    width: 20.5rem;
    height: auto;
    border-radius: 1rem;
    border: 2px solid var(--cor-secundaria);
    padding: 1.5rem;
    cursor: pointer;
}

.btn1{
    color: var(--cor-primaria);
    background-color: var(--cor-secundaria);
}

.btn2{
    color: var(--cor-secundaria);
    background-color: var(--cor-primaria);
}

.div-text-area{
    
    height: 55rem;
    width: 25rem;
    background-color: var(--cor-tercearia);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    box-shadow: 1px 4px 4px 4px rgba(0, 0, 0, 0.1);
}

.div-text-area textarea{
    font-size: 2rem;
    resize: none;
    border: none;
    height: 37.5rem;
}

#hidden{
    display: none;
}

.result{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem;
}

.result textarea:focus{
    outline: none;
    border: 2px solid var(--cor-secundaria);
    border-radius: 0.5rem;
}

.btn-result{
    background-color: var(--cor-tercearia);
}